<div>
    <div class="container">
        <div>
            <form class="book-search-form" [formGroup]="getFilteredBooksRequest">
                <h2 class="text-black-alpha-60 align-center">Filters</h2>
                <div class="form-input mb-4">
                    <div class="p-field mb-4">
                        <span class="p-float-label">
                            <input pInputText type="text" formControlName="name" id="fbookname" />
                            <label>Book Name</label>
                        </span>
                    </div>
                </div>
                
                <div class="form-input mb-4">
                    <div class="p-field mb-4">
                        <span class="p-float-label">
                            <input pInputText type="text" formControlName="authorName" id="fauthorname" />
                            <label>Author name</label>
                        </span>
                    </div>
                </div>

                <div class="form-input mb-4">
                    <span class="p-float-label">
                        <p-multiSelect optionLabel="name" [options]="genres" display="chip" formControlName="genreIds"
                            placeholder="Select Genres" [showClear]="true" />
                        <label>Genres</label>
                    </span>
                </div>
            
                <div class="form-input mb-4">
                    <span class="p-float-label">
                        <p-dropdown [options]="publishers" formControlName="publisherId" optionLabel="companyName" id="fpublisher" />
                        <label>Publisher</label>
                    </span>
                </div>

                    <div style="display: flex; margin-top: 35px;">
                        <div class="form-input mb-4">
                            <span class="p-float-label">
                                <p-inputNumber formControlName="minPrice"
                                    id="fminprice"
                                    mode="currency"
                                    currency="USD"
                                    [min]="0"
                                    [step]="0.5" />
                                <label>Min price</label>
                            </span>
                        </div>
                        <div class="form-input mb-4">
                            <span class="p-float-label">
                                <p-inputNumber formControlName="maxPrice"
                                    id="fmaxprice"
                                    mode="currency"
                                    currency="USD"                                    
                                    [min]="0"
                                    [step]="0.5"/>
                                <label>Max price</label>
                            </span>
                        </div>
                    </div>
            
                    <div class="margin-left: auto;">
                        <p-button  type="submit" label="Search" icon="pi pi-search" (click)="this.getFilteredBooks()"></p-button>
                    </div>                
            </form>
        </div>
        <div class="right">
            <books-list [books]="this.books"></books-list>
        </div>
    </div>    
</div>