.container {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
}

.left {
    flex: 1;
    max-width: 25%;
    padding: 20px;
    background-color: greenyellow;
}

.right {
    flex-basis: calc(33.333% - 40px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 0;
    min-width: 0;
    overflow-x: hidden;
}

:root {
    --primary-color: #007bff;
    --text-color: #333;
    --background-color: #fff;
    --border-color: #333;
    --form-spacing: 1rem;
}

.filters-title {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
    font-size: 15px;
    font-weight: 400;
}

.book-search-form {
    max-width: 270px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-group, .form-group-checkbox {
    margin-bottom: var(--form-spacing);
}

.form-control {
    max-width: 250px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.checkbox-input {
    margin-right: 0.5rem;
}

.checkbox-label {
    margin: 0;
}

.form-submit {
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.form-submit:hover {
    background-color: #3648e4;
}

.price-control {
    width: 200px;
}

.form-input {
    position: inherit;
    margin-bottom: 15px;
    width: 100%;
}

@media (max-width: 768px) {
    .book-search-form {
        padding: 1rem;
    }
}

:host ::ng-deep .p-multiselect {
    width: 100%;
}

:host ::ng-deep .p-dropdown {
    width: 100%;
}

:host ::ng-deep input {
    width: 100%;
}

.carousel-container {
    width: 100%;
    margin-bottom: 20px;
}

/* Make sure the carousel stays contained */
:host ::ng-deep .p-carousel {
    width: 100%;
    overflow: hidden;
}

:host ::ng-deep .carousel-card {
    width: 240px !important;

}
