<div>
    <strong class="genre-name">{{ genre.name }}</strong>
    <p class="genre-description">{{ genre.description }}</p>

    <button *ngIf="isAdmin && !isUpdate" mat-flat-button color="accent" class="crud-btn" (click)="isUpdate = true">Update</button>  

    <genre-form *ngIf="isUpdate" [genre]="genre">
        <button *ngIf="isAdmin && isUpdate" mat-flat-button color="warn" class="crud-btn" (click)="isUpdate = false">Cancel</button>
    </genre-form>  
    
    
    <button *ngIf="isAdmin && !isUpdate" mat-flat-button color="warn" class="crud-btn" (click)="deleteGenre(genre.id)">Delete</button>       
</div>

