<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <p-button label="Online Book Store" [text]="true" severity="secondary" icon="pi pi-home" routerLink="/books-filters"></p-button>
        </ng-template>
        <ng-template pTemplate="end">
            <p-button *ngIf="!isLoggedin()" label="Log In" icon="pi pi-sign-in" routerLink="/login"></p-button>
            <p-button *ngIf="isLoggedin()" label="Account" icon="pi pi-user" routerLink="/account"></p-button>
            <p-button *ngIf="isLoggedin()" icon="pi pi-shopping-cart" [text]="true" severity="secondary" routerLink="/busket"></p-button>
        </ng-template>
    </p-menubar>
</div>
