<div class="header-container">
    <div>
        <a class="nav-link no-underline" routerLink="/books-filters">
            <h1 class="main-title">Online Book Store</h1>
        </a>
    </div>
    <div class="nav-links-container">
        <a class="nav-link" routerLink="/books-filters">Books</a>  
        <a class="nav-link" routerLink="/genres">Genres</a>  
        <a class="nav-link" routerLink="/authors">Authors</a>
        <a class="nav-link" routerLink="/publishers">Publishers</a>      
        
        <a>LOGIN!</a>
    </div>    
</div>
