<div class="login-container mt-5 w-25rem mx-auto">
  <h2>Login</h2>
  <form method="POST">
    <div class="p-field mb-4">
      <span class="p-float-label">
        <input pInputText class="w-full" type="text" id="email" name="email" required [formControl]="email" />
        <label>Email</label>
      </span>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <small>Email is required.</small>
      </div>
    </div>
    <div class="p-field mb-4">
      <span class="p-float-label">
        <input pInputText class="w-full" type="password" id="password" name="password" required [formControl]="password" />
        <label>Password</label>
      </span>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <small>Enter password.</small>
      </div>
    </div>
    <p-button type="submit" class="login-button" (click)="login()" label="Log In" />
    <p-button [link]="true" routerLink="/register" class="login-link-text" label="No account? Register!" />
  </form>
</div>