<generic-list title="Authors">
    <button mat-flat-button *ngIf="!isAdd && isAdmin" color="accent" style="margin-bottom: 10px;" (click)="isAdd = true;">Add</button>
    <author-form *ngIf="isAdd">
        <button mat-flat-button *ngIf="isAdd" color="warn" (click)="isAdd = false;">Cancel</button>
    </author-form>
    
    <a *ngFor="let a of authors" [routerLink]="['/author', a.id]" class="author-link">
        <div class="authors-list-item" >
            <strong class="author-name">{{ a.firstName }} {{ a.lastName }}</strong>         
        </div>
    </a>
</generic-list>
