<div>
    <form [formGroup]="genreForm">
        <label [for]="'genre-name-' + genreId">Genre name:</label>
        <input type="text" [id]="'genre-name-' + genreId" formControlName="name">

        <label [for]="'genre-desc-' + genreId">Description:</label>
        <input type="text" [id]="'genre-desc-' + genreId" formControlName="description">

        <button mat-flat-button *ngIf="genreId" color="accent" (click)="updateGenre()">Update</button>
        <button mat-flat-button *ngIf="!genreId" color="accent" (click)="createGenre()">Create</button>

        <!-- To pass cancel button for exm. --> 
        <ng-content></ng-content>
    </form>
</div>
