.order-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
}

.order-form {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.order-form label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.quantity-input,
.submit-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #405cf5;
    color: white;
    border: 0;
}

.submit-btn:hover {

    background-color: #004494;
}