<div>
    <form [formGroup]="authorForm">
        <label for="first-name-inp">First name:</label>
        <input type="text" id="first-name-inp" formControlName="firstName">

        <label for="last-name-inp">Last name:</label>
        <input type="text" id="last-name-inp" formControlName="lastName">

        <label for="email-inp">Email:</label>
        <input type="email" id="email-inp" formControlName="email">

        <button mat-flat-button *ngIf="author" color="accent" (click)="updateAuthorData()">Update</button>
        <button mat-flat-button *ngIf="!author" color="accent" (click)="createAuthor()">Add</button>

        <!-- To pass cancel button -->
        <ng-content></ng-content>
    </form>
</div>
