<generic-list title="Publishers">
    <button mat-flat-button *ngIf="!isAdd" color="accent" style="margin-bottom: 10px;" (click)="isAdd = true;">Add</button>
    <publisher-form *ngIf="isAdd">
        <button mat-flat-button *ngIf="isAdd" color="warn" (click)="isAdd = false;">Cancel</button>
    </publisher-form>
    
    <a *ngFor="let p of publishers" [routerLink]="['/publisher', p.id]" class="publisher-link">
        <div class="publisher-list-item" >
            <strong class="publisher-name">{{ p.companyName }}</strong>
        </div>
    </a>    
</generic-list>
